alias l="ls -lFh"
alias la="ls -lAFf"
alias grep="grep --color"

# Directory shortcuts
alias h="cd ~/projects/hubba-node/"
alias p="cd ~/projects/"

# Git
alias gds="git diff --staged"
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gplrm="git pull --rebase origin master"


# tmux aliases

alias tn="tmux new -s"
alias ta="tmux attach -t"
alias tk="tmux kill-session -t"

# SSH

alias sshbox="ssh azhar@a-ca.manas.ca"
alias sshru="ssh -L 8081:127.0.0.1:80 -N azhar@a-ca.manas.ca"
alias sshplex="ssh -L 32400:127.0.0.1:32400 -N azhar@a-ca.manas.ca"
alias sshproxy="ssh -N -D 2001 azhar@209.105.232.237"
